{% extends 'base.html' %}

{% block content %}
<h3>View your information below:</h3>

<p><b>Username:</b> {{user.username}}</p>
<p><b>Email:</b> {{user.email}} </p>
<p><b>First name:</b> {{user.first_name}} </p>
<p><b>Last name:</b> {{user.last_name}} </p>
<form style="display:inline;">
    <button formaction="/users/{{user.username}}/feedback/add" formmethod="GET">Add feedback</button>
    <button formaction="/users/{{user.username}}/delete" formmethod="POST">Delete user</button>
</form>

<div>
    {% for feedback in user.feedbacks %}
    <div>
        <div>
            <h5>{{feedback.title}}</h5>
            <p>{{feedback.content}}</p>
            <p>From: {{feedback.username}}</p>
            <form style="display:inline;">
                <button formaction="/feedback/{{feedback.id}}/update" formmethod="GET">Edit</button>
                <button formaction="/feedback/{{feedback.id}}/delete" formmethod="POST"><i></i>Delete</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
